body{
    background-color: lightgrey;
}

h1{
    color:darkolivegreen
}

h3{
    color:darkolivegreen
}

hr{
    border-color: darkseagreen;
    border-style: dotted none none;
    border-width: 10px;
    width: 80px;
}